<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164136024421-59rt30ikjo9u50jd6f9f2ukuf19oqrku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164136024421-59rt30ikjo9u50jd6f9f2ukuf19oqrku</string>
	<key>API_KEY</key>
	<string>AIzaSyBid2YEf_lAUnAqkro6nE9uMDnJ4Ke20bY</string>
	<key>GCM_SENDER_ID</key>
	<string>164136024421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizhouse</string>
	<key>PROJECT_ID</key>
	<string>quizhouse-c039f</string>
	<key>STORAGE_BUCKET</key>
	<string>quizhouse-c039f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164136024421:ios:6d4db8b6b099aac1e6898c</string>
</dict>
</plist>